# Environments
.env
myev1/
venv/
env/
.venv/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/
.coverage
htmlcov/

# Database Backups
backup.sql

# IDEs and OS files
.vscode/
.idea/
.DS_Store
